.heading{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 5px rgb(255, 206, 128);
    text-shadow: 2px 2px rgb(226, 109, 0);
}
.note{
    font-size: 18px;
    color: black;
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 140, 0, 0.661);
    color: rgb(44, 1, 1);
}
canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:10px 5px rgb(237, 200, 114);
}