body{
  background-color: black;
  color:aquamarine;
}

.heading{
  font-size: 24px;
  width: 100%;
  margin: 0px;  
}

.note{
  font-size: 18px;
  color:black;
}

.div_speed{
  float: left;
}

.div_volume{
  float:right;
}

#speed, #volume{
  font-size: 25px;
  margin: 15px;
}

.play_button{
  width: 150px;
  font-size: 25px;
}

canvas{
  border: 10px solid black;
  border-radius: 20px;
}